<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <partial name="_Favicon" />
    <link rel="stylesheet" asp-href-include="~/static/css/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" asp-href-include="~/static/css/common.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/css/main.css" asp-append-version="true" />

    <script asp-src-include="~/static/js/vendor.*.js" asp-append-version="true"></script>
    <script asp-src-include="~/static/js/common.*.js" asp-append-version="true"></script>
</head>
<body>
    <header class="site-header">
        <div class="container">
            <div class="container-wrapper">
                <div class="logo"></div>
                <vc:menu></vc:menu>
                <div class="to-right site-header__tools">
                    <vc:search></vc:search>
                    <vc:notice></vc:notice>
                    <vc:account></vc:account>
                </div>
            </div>
        </div>
    </header>
    <main class="container body-content">
        @RenderBody()
    </main>
    <script src="~/static/js/main.js" asp-append-version="true"></script>
</body>
</html>
